{% extends "page.html" %}

{% block content %}
<h1>Age, body</h1>

<!-- MARK: Age -->

<h2>Age</h2>
<img src="{{ age_chart }}">

<div class="award_group">
  <p class="award_emoji">🐥</p>
  <p>Chick award for the youngest.</p>
  {{ render_age_table(age_awards_min) }}
</div>

<div class="award_group">
  <p class="award_emoji">🐦‍🔥</p>
  <p>Phoenix award for the oldest.</p>
  {{ render_age_table(age_awards_max) }}
</div>

<!-- MARK: [HW]eight -->

<h2>Height</h2>
<img src="{{ height_chart }}">

<div class="award_group">
  <p class="award_emoji">🐜</p>
  <p>Ant award for the shortest.</p>
  {{ render_height_weight_table(height_awards_min) }}
</div>

<div class="award_group">
  <p class="award_emoji">🦒</p>
  <p>Giraffe award for the tallest.</p>
  {{ render_height_weight_table(height_awards_max) }}
</div>

<h2>Weight</h2>
<img src="{{ weight_chart }}">

<div class="award_group">
  <p class="award_emoji">🪶</p>
  <p>Feather award for the lightest.</p>
  {{ render_height_weight_table(weight_awards_min) }}
</div>

<div class="award_group">
  <p class="award_emoji">🐘</p>
  <p>Elephant award for the heaviest.</p>
  {{ render_height_weight_table(weight_awards_max) }}
</div>

<!-- MARK: Hand -->

<h2>Hands</h2>

{% macro render_hand_quarter(rows, hand_quarter_class) -%}
<div class="hand-quarter {{hand_quarter_class}}">
  {% for row in rows %}
  {{ render_player_rank(row.player) }}&nbsp;{{row.player.nationality.flag_emoji}}
  {% endfor %}
</div>
{%- endmacro %}

<div>
  <p class="hand-label hand-label-top">1 handed backhand</p>
  <div class="hand-middle-row">
    <p class="hand-label hand-label-left">Left handed</p>
    <div class="hand-content">
      {{ render_hand_quarter(hand_left_backhand_1, "hand-quarter-left-top") }}
      {{ render_hand_quarter(hand_right_backhand_1, "hand-quarter-right-top") }}
      {{ render_hand_quarter(hand_left_backhand_2, "hand-quarter-left-bottom") }}
      {{ render_hand_quarter(hand_right_backhand_2, "hand-quarter-right-bottom") }}
    </div>
    <p class="hand-label hand-label-right">Right handed</p>
  </div>
  <p class="hand-label hand-label-bottom">2 handed backhand</p>
</div>

<style>
  .hand-label {
    margin: 0;
    font-size: 32px;
  }

  .hand-label-top,
  .hand-label-bottom {
    width: 100%;
    text-align: center;
  }

  .hand-label-left {
    writing-mode: vertical-lr;
    text-align: center;
    text-orientation: upright;
  }

  .hand-label-right {
    writing-mode: vertical-rl;
    text-align: center;
    text-orientation: upright;
  }

  .hand-middle-row {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .hand-content {
    width: 100%;
    height: 650px;
  }

  .hand-quarter {
    width: 50%;
    height: 50%;
    padding: 8px;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    line-height: 1.2;
  }

  .hand-quarter-left-top {
    border-right: 2px solid #44475a;
    border-bottom: 2px solid #44475a;
  }

  .hand-quarter-right-top {
    border-bottom: 2px solid #44475a;
  }

  .hand-quarter-left-bottom {
    border-right: 2px solid #44475a;
  }

  .hand-quarter-right-bottom {}
</style>

<div class="award_group">
  <p class="award_emoji">🐙</p>
  <p>Octopus award for 1 handed backhand.</p>
  <table>
    <tbody>
      {% for row in hand_left_backhand_1 %}
      <tr>
        <td class="text-left">{{ render_player(row.player) }}</td>
      </tr>
      {% endfor %}
      {% for row in hand_right_backhand_1 %}
      <tr>
        <td class="text-left">{{ render_player(row.player) }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

</div>

<div class="award_group" style="margin-bottom: 0;">
  <p class="award_emoji">🍆</p>

  <div class="p_group">
    <p>
      According to the Wikipedia 10% of the people are left handed. <br>
      Tennis players are fairly close to that at 12%. <br>
      It seems that nobody deserves the esteemed eggplant award.
    </p>
  </div>

  <div class="p_group">
    <p>
      On the other hand 30% of the TOP 50 fencers are left handed. <br>
      We can't award the ⅓ of the population!
    </p>

    <table>
      <thead>
        <tr>
          <th>🤺</th>
          <th>Female</th>
          <th>Male</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="text-left">Épée</td>
          <td class="text-right">18</td>
          <td class="text-right">14</td>
        </tr>
        <tr>
          <td class="text-left">Foil</td>
          <td class="text-right">18</td>
          <td class="text-right">19</td>
        </tr>
        <tr>
          <td class="text-left">Saber</td>
          <td class="text-right">12</td>
          <td class="text-right">6</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="p_group" style="margin-bottom: 0;">
    <p>
      Or Maybe we should hand it over to Anthony Ammirati? <br>
      You know… the French pole vaulter from the Olympics.
    </p>
    <img width="{{ width }}" style="width: {{ width }}px; margin-left: -{{ padding_x }}px; margin-bottom: 0;"
      src="Anthony Ammirati.webp">
  </div>
</div>


{% endblock %}

{% macro render_age_table(rows) -%}
<table>
  <thead>
    <tr>
      <th rowspan="2">Player</th>
      <th rowspan="2">Birth date</th>
      <th colspan="2">Age</th>
      <th colspan="2">Pro</th>
    </tr>
    <tr>
      <th>Years</th>
      <th>Days</th>
      <th>Started</th>
      <th>Years since</th>
      <!-- Fix missing right border. It is too much work to modify CSS. -->
      <th></th>
    </tr>
  </thead>
  <tbody>
    {% for row in rows %}
    <tr>
      <td class="text-left">{{ render_player(row.player) }}</td>
      <td class="text-right">{{ row.birthday }}</td>
      <td class="text-right">{{ row.age_years }}</td>
      <td class="text-right">{{ row.age_days }}</td>
      <td class="text-right">{{ row.age_pro }}</td>
      <td class="text-right">{{ row.years_since_pro }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{%- endmacro %}

{% macro render_height_weight_table(rows) -%}
<table>
  <thead>
    <tr>
      <th rowspan="2">Player</th>
      <th colspan="2">Age</th>
      <th rowspan="2">Height <br> [cm]</th>
      <th rowspan="2">Weight <br> [kg]</th>
    </tr>
    <tr>
      <th>Years</th>
      <th>Days</th>
      <!-- Fix missing right border. It is too much work to modify CSS. -->
      <th></th>
    </tr>
  </thead>
  <tbody>
    {% for row in rows %}
    <tr>
      <td class="text-left">{{ render_player(row.player) }}</td>
      <td class="text-right">{{ row.age_years }}</td>
      <td class="text-right">{{ row.age_days }}</td>
      <td class="text-right">{{ row.height_cm }}</td>
      <td class="text-right">{{ row.weight_kg }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{%- endmacro %}
