{% extends "page.html" %}

{% block content %}
<h1>Ranking</h1>

<!-- MARK: Rank change -->

<h2>Rank change since {{ date_past }}</h2>
<img src="{{ rank_change_chart }}">

<div class="award_group">
  <p class="award_emoji">🦄</p>
  <p>Unicorn award for the biggest raise.</p>
  <p>
    {{ render_player(player_no_1) }} ending the year as No. 1 is impressive,<br>
    but gaining {{ rank_change_max_gain }} positions in PIF ATP Ranking is also nice.
  </p>
  {{ render_rank_change_award_table(rank_change_awards_max_gain) }}
</div>

<div class="award_group">
  <p class="award_emoji">🦨</p>
  <p>Skunk award for the biggest drop.</p>
  {{ render_rank_change_award_table(rank_change_awards_max_drop) }}
</div>

<div class="award_group">
  <p class="award_emoji">🦥</p>
  <p>Sloth award for… hanging in there.</p>
  {{ render_rank_change_award_table(rank_change_awards_no_change) }}
</div>

<!-- MARK: Rank spread -->

<h2>Rank spread since {{ date_past }}</h2>
<img src="{{ rank_spread_chart }}">

<div class="award_group">
  <p class="award_emoji">🪺</p>
  <p>Nest award for the most consistent players.</p>
  {{ render_rank_spread_table(rank_spread_awards_min) }}
</div>

<div class="award_group">
  <p class="award_emoji">🐇</p>
  <p>Bunny award for those who like to hop around.</p>
  {{ render_rank_spread_table(rank_spread_awards_max) }}
</div>
{% endblock %}

<!-- MARK: Macros -->

{% macro render_rank_change_award_table(rows) -%}
<table>
  <thead>
    <tr>
      <th>Player</th>
      <th>Age</th>
      <th>{{ date_past }}</th>
      <th>{{ date_now }}</th>
      <th>Difference</th>
    </tr>
  </thead>
  <tbody>
    {% for row in rows %}
    <tr>
      <td class="text-left">{{ render_player(row.player) }}</td>
      <td class="text-right">{{ row.player.age }}</td>
      <td class="text-right">{{ row.rank_past }}</td>
      <td class="text-right">{{ row.rank_now }}</td>
      <td class="text-right">{{ row.rank_change }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{%- endmacro %}

{% macro render_rank_spread_table(rows) -%}
<table>
  <thead>
    <tr>
      <th rowspan="2">Player</th>
      <th rowspan="2">Age</th>
      <th colspan="3">Rank</th>
    </tr>
    <tr>
      <th>Highest</th>
      <th>Lowest</th>
      <th>Spread</th>
    </tr>
  </thead>
  <tbody>
    {% for row in rows %}
    <tr>
      <td class="text-left">{{ render_player(row.player) }}</td>
      <td class="text-right">{{ row.player.age }}</td>
      <td class="text-right">{{ row.rank_highest }}</td>
      <td class="text-right">{{ row.rank_lowest }}</td>
      <td class="text-right">{{ row.rank_spread }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{%- endmacro %}
