@font-face {
  font-family: "Inconsolata";
  font-style: normal;
  font-weight: 200 900;
  font-stretch: 100%;
  font-display: swap;
  src: url(Inconsolata-VariableFont_wdth,wght.ttf) format('truetype');
}

/*
https://github.com/dracula/dracula-theme?tab=readme-ov-file#color-palette
background: #282a36
selection: #44475a
foreground: #f8f8f2
comment: #6272a4
cyan: #8be9fd
green: #50fa7b
orange: #ffb86c
pink: #ff79c6
purple: #bd93f9
red: #ff5555
yellow: #f1fa8c
*/

body {
  color: #f8f8f2;
  background-color: #282a36;
  font-family: "Inconsolata";
  -webkit-font-smoothing: auto;
  -moz-osx-font-smoothing: auto;
}

h1 {
  margin: 40px 0;
  text-align: center;
  font-size: 96px;
  font-weight: 800;
  line-height: 1;
  text-transform: uppercase;
}

h2 {
  margin: 40px 0;
  text-align: center;
  font-size: 60px;
  font-weight: 500;
  line-height: 1;
}

h3 {
  margin: 40px 0;
  text-align: center;
  font-size: 40px;
  line-height: 1;
}

p {
  margin: 16px 0;
  text-align: center;
  font-size: 36px;
  line-height: 40px;
}

li {
  margin: 4px 0;
  text-align: left;
  font-size: 36px;
  line-height: 40px;
}

img {
  margin: 40px 0;
  display: block;
}

.award_group {
  margin: 80px 0;
}

.award_emoji {
  margin: 40px 0;
  text-align: center;
  font-size: 128px;
  line-height: 1;
}

table {
  margin: 32px auto;
  border-collapse: collapse;
  font-size: 30px;
  line-height: 36px;
}

table th {
  text-align: center;
}

table tr {
  border-bottom: 2px solid #44475a;
}

/* Allow border below header. */
tbody tr:last-child {
  border-bottom: none;
}

table td,
table th {
  padding: 1px 2px;
  border-right: 2px solid #44475a;
}

table td:last-child,
table th:last-child {
  border-right: none;
}

table .text-center {
  text-align: center !important;
}

table .text-left {
  text-align: left !important;
}

table .text-right {
  text-align: right !important;
}
